* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* overflow-x: hidden; */
}

.home,
.services,
.products,
.gears,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  background-image: url('/images/services.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: orange;
  font-size: 100px;
}

.products {
  background-image: url('/images/products.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: orange;
  font-size: 100px;
}

.gears {
  background-image: url('/images/gears.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: orange;
  font-size: 100px;
}

.sign-up {
  background-image: url('/images/signup.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: orange;
  font-size: 100px;
}

@media screen and (max-width: 960px) {
  h1.home,
  h1.services,
  h1.products,
  h1.gears,
  h1.sign-up {
  font-size: 70px;
  margin-top: -150px;
}
}

@media screen and (max-width: 768px) {
h1.home,
h1.services,
h1.products,
h1.gears,
h1.sign-up {
  font-size: 50px;
  margin-top: -100px;
}
}

@media screen and (max-width: 375px) {
  h1.home,
h1.services,
h1.products,
h1.gears,
h1.sign-up {
  font-size: 2rem;
}

}